<!DOCTYPE html>
<html>
	<head>
		<title>Wall Assignment</title>
	</head>

	<body>
		<div id="header">
			<h2>CodingDojo Wall</h2>
    		<h3>Welcome {{ session['name'] }}</h3>
    		<a href="/">Log Off</a>
    	</div>

    	<div id="content">
    		<form action="/message" method="post">
    			<h3>Post A Message</h3>
    			<input type="textarea" name="message">
    			<button>Post a messsage</button>
    		</form>

    		<!-- insert messages here -->

    		<!-- this should appear under each message -->
    		<form action="/comment" method="post">
    			<h4>Post A Comment</h4>
    			<input type="textarea" name="message">
    			<button>Post a comment</button>
    		</form>

    	</div>


	</body>
</html>