<!DOCTYPE html>
<html>
	<head>
		<title>Wall Assignment</title>
	</head>

	<body>
		<div id="header">
			<h2>CodingDojo Wall</h2>
    		<h3>Welcome {{ session['name'] }}</h3>
    		<a href="/">Log Off</a>
    	</div>

    	<div id="content">
    		<form action="/message" method="post">
    			<h3>Post A Message</h3>
    			<input type="textarea" name="message">
    			<button>Post a messsage</button>
    		</form>
            <hr>

    		<!-- insert messages here -->
            {% for i in messages %}

                
                <p><b>{{ i['first_name'] }} - {{ i['created_at'] }}</b></p>
                <p>{{ i['messages'] }}</p>
                <p>------------------------------------</p>
                {% for k in comments%}
                    {% if k['message_id']== i['id'] %}
                    <p><b>{{ k['first_name'] }} - {{ k['created_at'] }}</b></p>
                    <p>{{ k['comment'] }}</p>
                    {% endif %}
                {% endfor %}

                <form action="/comment" method="post">
                    <h4>Post A Comment</h4>
                    <input type="hidden" name ="messageid" value="{{ i['id'] }}">
                    <input type="textarea" name="comment">
                    <button>Post a comment</button>
                </form>
                <hr>
            {% endfor %}
    	
    	</div>


	</body>
</html>